@model Branch
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h3>Uyarı</h3>
        <form asp-action="DeleteConfirmed" asp-controller="Branch" method="post">
            <input type="hidden" asp-for="ID" />
            <p>@Model.Name şubesini silmek istediğinizden emin misiniz?</p>
            <button type="submit" class="btn btn-danger">Sil</button>
            <a asp-action="Index" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>
  

